* {
	/* background-color: #1a1826; */
	color: #eaeaea;
	overflow: hidden;
}

html {
	background-image: linear-gradient(#374036, #212520);
	/* background-image: linear-gradient(#212520, #374036); */
	height: 100%;
}

#root {
	background-image: linear-gradient(#374036, #212520);
}

.custom-shape-divider-top-1670686959 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1670686959 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 100px;
	animation: wave-in 1s ease-in-out;
}

.custom-shape-divider-top-1670686959 .shape-fill {
	fill: #2b312a;
}

.main-container {
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -250px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

@keyframes wave-in {
	from {
		height: 0px;
	}
	to {
		height: 100px;
	}
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.main-container {
		display: flex;
		flex-direction: column;
		width: 370px;
		left: 29%;
		margin-left: -100px;
		top: 32%;
		/* background-color: red; */
		height: 100%;
	}
	html {
		background-image: none;
		background-color: #374036;
	}
	.custom-shape-divider-top-1670686959 {
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		overflow: hidden;
		line-height: 0;
	}

	.custom-shape-divider-top-1670686959 svg {
		position: relative;
		display: block;
		width: calc(150% + 1.3px);
		height: 0px;
		animation: wave-in 1s ease-in-out;
	}
}
